
.customer-info-card {
    background-color: rgb(247, 246, 238, 0.5);
    margin-top: 20px;
  }

  .product-spec-card {
    background-color: rgb(247, 246, 238, 0.5);
    height: 64vh;
}

  .product-info-card {
    background-color: rgb(247, 246, 238, 0.5);
  }

  .customer-info-card {
    background-color: rgb(247, 246, 238, 0.5);
  }