/* NOTE:CRN .customer-nav-card in Home.css */

.customer-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 20px;
  /* Add any other styles you want for this row */
}

.product-row {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
  /* Add any other styles you want for this row */
}
.customer-info-card {
    background-color: rgb(247, 246, 238, 0.5);
    margin-top: 20px;
    max-height: auto;
  }

  .product-spec-card {
    background-color: rgb(247, 246, 238, 0.5);
    max-height: auto;
}

  .product-info-card {
    background-color: rgb(247, 246, 238, 0.5);
    max-height: auto;
  }

  .customer-info-card {
    background-color: rgb(247, 246, 238, 0.5);
  }

  .customer-notes-card {
    background-color: rgb(247, 246, 238, 0.1);
    margin-top: 20px;
    max-height: 50vh;
  }
.name-button {
  color: black;
  text-decoration: none;
  position: relative;
  top: -8px
}

  .name-button:hover {
    color: blue; /
    cursor: pointer; 
}

.search-results{
  flex-direction: column;
}