
.footer-card {
  
    height: 8vh;
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 320px) { /* Adjust this value based on when you want the change to occur */
  .footer-card {
    height: 4vh; /* Reduce the height on small screens */
  }
}