
.custom-container {
  background-color: rgb(247, 246, 238, 0.5);
   max-width: 93%;
  
}

.home-card {
    
    display: flex;
    flex-direction: column;
  
    max-height: 75vh;
   
}

  .home-card img{
   
    padding: 20px;
    flex-grow: 1;
    object-fit: cover;
    max-height: 60vh;
   }

